.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
}

.column {
  width: 30%;
  height: 100%;
  padding: 5px;
}

.freeRoom {
  border: #1fff1f;
}

.plan {
  width: 40vw;
  height: 100vh;
}

.date {
  font-size: 1.3vw;
}

.time {
  font-size: 2vw;
  top: 1.3vw
}

.qrcode {
  display: flex;
}

@media print, screen and (max-width: 600px) {
  .plan {
    width: 100vw;
    height: 100vh;
  }

  .qrcode {
    display: none;
  }

  .date {
    font-size: 20px;
  }

  .time {
    font-size: 28px;
    top: 20px;
  }

  .container {
    flex-wrap: wrap;
    overflow: scroll;
  }
}

body {
  background-color: #1f1f1f;
  overflow-x: hidden;
}
